*{
    margin: 0;
}
.home{
    display: grid;
    gap: 10px;
    grid-template-areas: "header header"
    "chatBox chatBox";
}
.header{
    grid-area: header;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.bar{
    border: none;
    background-color: white;
}
.three-dot{
    border: none;
    background-color: white;
}
.bar:hover{
    background-color: lightgrey;
}
.three-dot:hover{
    background-color: lightgrey;
}
.sidebar{
    grid-area: sidebar;
    padding: 10px;
    display: none;
}
.chatBox{
    grid-area: chatBox;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}
.footer{
    grid-area: footer;
    padding: 10px;
}
.hint{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0 20px 0;
    margin-right: 100px;
}
.message{
    background-color: bisque;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0 20px 0;
    margin-left: 100px;
}
.response{
    background-color: rgb(218, 216, 213);
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0 20px 0;
    margin-right: 100px;
}
.message-inputs{
    text-align: center;
}
form{
    display: flex;
}
input{
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: large;
    border-radius: 10px 0 0 10px;
    border-right: none;
    border-left: 2px solid green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}
.submit{
    font-size: large;
    padding: 10px;
    border-radius: 0 10px 10px 0;
    border-left: none;
    background-color: white;
    border-right: 2px solid green;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}
.submit:hover{
    background-color: lightgrey;
}
